<%= form_with(model: @recipe, url: recipes_path, local: false, remote: true) do |f| %>
  <div class="field">
    <%= f.label :original_url %>
    <%= f.text_field :original_url, id: "original_url" %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, id: "recipe_title" %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url, id: "recipe_image_url" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, id: "recipe_description" %>  
  </div>

  <div class="actions">
    <%= f.submit "レシピを保存" %>  
  </div>
<% end %>

<%= javascript_include_tag "fetch_recipe_info" %>